@font-face {
  font-family: 'anspar_primary';
  src: url(./fonts/Changa/Changa-VariableFont_wght.ttf);
}

html{
  min-height: 100vh;
  background: linear-gradient(30deg, var(--as-primary), var(--as-light));
  padding-bottom: 1%;
  position: relative;
}

*:not(i) {
  font-family: 'anspar_primary', arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
